<div class="sidebar">
    <!-- Sidebar content here -->
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Nav Title</li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon cui-speedometer"></i> Empleados
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon cui-speedometer"></i> Mesas
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon cui-speedometer"></i> Menu
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon cui-puzzle"></i> Inventario
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon cui-puzzle"></i> Nav dropdown item
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon cui-puzzle"></i> Nav dropdown item
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>