@model Monografico.ViewModels.CategoriaViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery xsrf

@{
    var modalTitle = "Formulario de categoria";
}

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="row">
    <div class="col-md-12">
        <form id="form-crear" method="post" asp-antiforgery="false" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" required />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input asp-for="Imagen" class="custom-file-input">
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <input type="hidden" id="RequestVerificationToken"
                   name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
        </form>
    </div>
</div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(() => {
        $('.custom-file-input').on("change", function() {
            var nombreAchivo = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(nombreAchivo);
        });

        $('#myModalLabel').html("@modalTitle");
    });

    var formulario = document.getElementById("form-crear");
    formulario.addEventListener('submit', (e) => {
        e.preventDefault();
        //alert(formulario.checkValidity());
        if (formulario.checkValidity()) {
            var archivos = document.getElementById("Imagen").files;
            var formData = new FormData();
            for (var i = 0; i != archivos.length; i++) {
                console.log(archivos[i]);
                formData.append("Imagen",archivos[i]);
            }
            formData.append("Descripcion",document.getElementById("Descripcion").value);

            //alert(model.Descripcion + model.Cantidad + model.Precio + model.FechaEntrada + model.EsContabilizable);

            $.ajax({
                method: "POST",
                url: "@Url.Action("Create","Categoria")",
                headers: {
                    "RequestVerificationToken": document.getElementById("RequestVerificationToken").value,
                },
                data: formData,
                contentType: false,
                processData: false,
                error: function () {
                    $('#myModal').modal('hide');
                    toastr.error("Error al guardar");
                },
                success: function () {
                    $('#categoria-datatable').DataTable().ajax.reload();
                    $('#myModal').modal('hide');
                    toastr.success("Guardado con exito");
                }
            });
        }
    });
</script>
