@model Monografico.Models.Zona
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery xsrf

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="row">
    <div class="col-md-12">
        <form id="form-editar" method="post" asp-antiforgery="false" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label hidden asp-for="IdZona" class="control-label"></label>
                <input hidden id="IdInput" asp-for="IdZona" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input id="DescripcionInput" asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <input type="hidden" id="RequestVerificationToken"
                   name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
        </form>
    </div>
</div>

<script>
    var formulario = document.getElementById("form-editar");
    formulario.addEventListener('submit', (e) => {
        e.preventDefault();

        if (formulario.checkValidity()) {
            var model = {
                "IdZona": document.getElementById("IdInput").value,
                "Descripcion": document.getElementById("DescripcionInput").value
                
            };

            $.ajax({
                method: "POST",
                url: "@Url.Action("Edit","Zona")",
                headers: {
                    "RequestVerificationToken": document.getElementById("RequestVerificationToken").value,
                    "Content-type": "application/json"
                },
                data: JSON.stringify(model),
                error: function () {
                    toastr.error("Error al editar el inventario");
                },
                success: function (data) {
                    $('#zona-datatable').DataTable().ajax.reload();
                    $('#myModal').modal('hide');
                    toastr.success("Se a editado con exito");
                }
            });
        }
    });
</script>
