.img-modal {
    display: block;
    margin: 0 auto 0 auto;
}

.mesa-info {
    position: absolute;
}

/*.tab-content-producto {
    
    overflow-y: scroll;
    height: 450px;
}*/


.img-item {
    width: 100%;
    object-fit: cover;
}

.img-table {
    object-fit: cover;
}


/*
/*Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .img-item {
        height: 22vw;
    }
}

/*Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .img-item {
        height: 20vw;
    }
}

/*Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .img-item {
        height: 15vw;
    }
}

/*Large devices (desktops, less than 1200px)*
@media (max-width: 1199.98px) {
    .img-item {
        height: 10vw;
    }
}

/*Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .img-item {
        height: 7vw;
    }
}
*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .img-item {
        height: 22vw;
    }

    .img-table {
        width: 70%;
        height: 20vw;
        object-fit: fill;
    }
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .img-item {
        height: 20vw;
    }

    .img-table {
        width: 60%;
        height: 13vw;
    }

    .producto-descrip {
        font-size: 1.7vw;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .img-item {
        height: 10vw;
    }

    .img-table {
        width: 50%;
        height: 12vw;
    }

    .producto-descrip {
        font-size: 1.5vw;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .img-item {
        height: 10vw;
    }

    .img-table {
        width: 80%;
        height: 9vw;
    }

    .producto-descrip {
        font-size: 1vw;
    }
}


/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .img-item {
        height: 7vw;
    }

    .img-table {
        width: 60%;
        height: 6vw;
    }

    .producto-descrip {
        font-size: 1vw;
    }
}
