@model Monografico.Models.Mesa
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery xsrf

@{
    var modalTitle = "Editar";
}

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="row">
    <div class="col-md-12">
        <form id="form-editar" method="post" asp-antiforgery="false" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Numero" type="hidden" class="form-control" min="0" />
            </div>
            <div class="form-group">
                <label asp-for="Asientos" class="control-label"></label>
                <input asp-for="Asientos" type="number" class="form-control" min="0" />
                <span asp-validation-for="Asientos" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdMesa" hidden class="control-label"></label>
                <input asp-for="IdMesa" hidden class="form-control" />
                <span asp-validation-for="IdMesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdZona" class="control-label"></label>
                <select asp-for="IdZona" class="custom-select" asp-items="@ViewBag.Zonas" required></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            <input type="hidden" id="RequestVerificationToken"
                   name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
        </form>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('#myModalLabel').html("@modalTitle");

    var formulario = document.getElementById("form-editar");
    formulario.addEventListener('submit', (e) => {
        e.preventDefault();

        if (formulario.checkValidity()) {
            var model = {
               "Numero": document.getElementById("Numero").value,
                "IdZona": document.getElementById("IdZona").value,
                "Asientos": document.getElementById("Asientos").value,
                "IdMesa": document.getElementById("IdMesa").value
            };

            $.ajax({
                method: "POST",
                url: "@Url.Action("Edit","Mesa")",
                headers: {
                    "RequestVerificationToken": document.getElementById("RequestVerificationToken").value,
                    "Content-type": "application/json"
                },
                data: JSON.stringify(model),
                error: function () {
                    toastr.error("Error al editar el inventario");
                },
                success: function (data) {
                    $('#mesa-datatable').DataTable().ajax.reload();
                    $('#myModal').modal('hide');
                    toastr.success("Actualizado con exito");
                }
            });
        }
    });
</script>
