<div class="modal fade" id="modal-conf-cuenta" tabindex="-1" role="dialog" aria-labelledby="ConfirmarCuentaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id="editarModal-body" class="modal-body text-center">
                <img id="modal-imagen" class="img-modal" src="/img/warning.png" alt="una imagen" style="width:30%; height:30%;" />
                <h4>Desea dividir la cuenta actual?</h4>
            </div>
            <div class="modal-footer">
                <button id="negarbtn" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button id="confirmarbtn" type="button" class="btn btn-primary">Si</button>
            </div>
        </div>
    </div>
</div>

