<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="EliminarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id="editarModal-body" class="modal-body text-center">
                <img id="modal-delete-imagen" class="img-modal" src="" alt="una imagen" style="width:30%; height:30%;" />
                <h4 id="modal-delete-titulo">Seguro que desea borrar el elemento</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button id="botonEliminar" type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>