<div class="modal fade" id="modal-cp" tabindex="-1" role="dialog" aria-labelledby="ModalConfirmarPagoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id="modal-cp-body" class="modal-body text-center">
               
            </div>
        </div>
    </div>
</div>