
<div class="row">
    <div class="col-md-7">
        <div class="table-responsive">
            <table id="datatable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Descripcion
                        </th>
                        <th>
                            Unidad
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-md-5">

    </div>
</div>

<script>
    $(document).ready(() => {
        $('#datatable').DataTable({
            ajax: {
                url: "@Url.Action("ListWitInventory","Ingrediente")",
                dataSrc: ''
            },
            columnDefs: [
                {
                    orderable: false,
                    className: 'select-checkbox',
                    targets:   0
                }
            ],
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            order: [[ 1, 'asc' ]],
            columns: [
                { name: '' },
                { data: 'descripcion' },
                {
                    data: 'inventario.unidad',
                    render: function (data, type, row, meta) {
                        if (data == null)
                            return "n/a"
                        else
                            return data;
                    }
                },
            ]
        });
    });
</script>