
@{
    ViewData["Title"] = "Reporte de caja";
}

<div class="card">

    <div class="card-body">
        <div class="row mb-4">
            <div class="col-12">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Desde:</label>
                    <input id="desde" class="form-control" type="date" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Hasta:</label>
                    <input id="hasta" class="form-control" type="date" />
                </div>
            </div>
            <div class="col-md-2">
                <button id="buscarbtn" class="btn btn-primary mt-4"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="datatable" style="width:100%" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Fecha de apertura
                                </th>
                                <th>
                                    Fecha de cierre
                                </th>
                                <th>
                                    Abierta por
                                </th>
                                <th>
                                    Monto de apertura en caja
                                </th>
                                <th>
                                    Efectivo
                                </th>
                                <th>
                                    Tarjeta
                                </th>
                                <th>
                                    Cheque
                                </th>
                                <th>
                                    Diferencia
                                </th>
                                <th>
                                    Cuadre
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


@section script {
    <script>
        $(document).ready(() => {
            //Inicializacion de tabla de reportes de facturas
            $('#datatable').DataTable({
                responsive: false,
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json",
                },
                ajax: {
                    url: "@Url.Action("List","Caja")",
                    data: function (d) {
                        return { desde: $('#desde').val(), hasta: $('#hasta').val() };
                    },
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'fechaApertura',
                        className: 'text-right',
                        render: function (data, type, row) {
                            return moment(data).format("MM/DD/YYYY");
                        }
                    },
                    {
                        data: 'fechaCierre',
                        className: 'text-right',
                        render: function (data, type, row) {
                            if (data === "No ha sido cerrada")
                                return data;
                            else
                                return moment(data).format("MM/DD/YYYY");
                        }
                    },
                    { data: 'usuario' },
                    { data: 'montoInicial', render: $.fn.dataTable.render.number( ',', '.', 2, '$' ), className: 'text-right' },
                    { data: 'efectivo', render: $.fn.dataTable.render.number( ',', '.', 2, '$' ), className: 'text-right' },
                    { data: 'tarjeta', render: $.fn.dataTable.render.number( ',', '.', 2, '$' ), className: 'text-right' },
                    { data: 'cheque', render: $.fn.dataTable.render.number( ',', '.', 2, '$' ), className: 'text-right' },
                    { data: 'diferencia', render: $.fn.dataTable.render.number( ',', '.', 2, '$' ), className: 'text-right' },
                    { data: 'cuadre' }
                ]
            });
        });

        document.getElementById("buscarbtn").addEventListener('click', function () {
            $('#datatable').DataTable().ajax.reload();
        });
    </script>

}

