
@{
    ViewData["Title"] = "Reporte de Inventario";
}

<div class="card">
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-12">
                    <h1>@ViewData["Title"]</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Desde:</label>
                        <input id="inventario-desde" class="form-control" type="date" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Hasta:</label>
                        <input id="inventario-hasta" class="form-control" type="date" />
                    </div>
                </div>
                <div class="col-md-4">
                    <button id="inbuscarbtn" class="btn btn-primary mt-4">Buscar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="inventario-datatable" style="width:100%" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Descripcion
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Cantidad
                                    </th>
                                    <th>
                                        Costo
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    <div class="card-footer">
        <h4 id="inv-total"><strong>Total: </strong></h4><h4></h4>
    </div>
</div>

@section script {
    <script>
        $(document).ready(() => {
            $('#inventario-datatable').DataTable({
                responsive: false,
                searching: false,
                ajax: {
                    url: "@Url.Action("ListRange","Inventario")",
                    data: function (d) {
                        return { desde: $('#inventario-desde').val(), hasta: $('#inventario-hasta').val() };
                    },
                    dataSrc: ''
                },
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: "Imprimir",
                        action: function (e, dt, node, config) {
                            var desde = $('#inventario-desde').val();
                            var hasta = $('#inventario-hasta').val();
                            window.open("@Url.Action("ListRangePDF","Inventario")" + "?desde=" + desde + "&hasta=" + hasta, '_blank');
                        }
                    }
                ],
                initComplete: function (settings, json) {
                    actualizarInventario();
                },
                columns: [
                    { data: 'descripcion' },
                    {
                        data: 'fechaEntrada',
                        render: function (data, type, row) {
                            return moment(data).format("MM/DD/YYYY");
                        }
                    },
                    { data: 'cantidad' },
                    { data: 'costo', render: $.fn.dataTable.render.number( ',', '.', 2, '$' ) },
                    { data: 'total', render: $.fn.dataTable.render.number( ',', '.', 2, '$' ) }
                ]
            });
        });

        document.getElementById("inbuscarbtn").addEventListener('click', function () {
            $('#inventario-datatable').DataTable().ajax.reload(actualizarInventario);
        });

        function actualizarInventario() {
            var table = $('#inventario-datatable').DataTable();
            var sum = table.column(4).data().sum().toFixed(2);

            var html = 'Total: '.bold() + sum;
            $('#inv-total').html(html);
        }
    </script>
}