@model IEnumerable<Monografico.Models.Zona>

@{
    ViewData["Title"] = "Seleccion de Mesa";
}


<div class="card">
    <div class="card-body">
        @foreach (var item in Model)
        {
            <div class="row">
                <h2>@item.Descripcion</h2>
            </div>
            <div class="row">
                @foreach (var mesa in item.Mesas)
                {
                    <div class="col-6 col-md-4 col-sm-4 col-lg-2 col-xl-2">
                        <a asp-action="Index" asp-controller="Cuenta" asp-route-idMesa="@mesa.IdMesa">
                            @if (mesa.Cuentas.Count > 0)
                            {
                                <span class="badge badge-info mesa-info">Ocupado</span>
                            }
                            <img class="rounded d-block img-table" src="~/img/mesa.png" alt="icono de una mesa" />
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</div>