<aside class="aside-menu">
    <div class="row justify-content-end">
        <div class="col-md-12">
            <ul class="nav navbar-light bg-light">
                <li class="nav-item ml-auto">
                    <a class="nav-link aside-menu-toggler" data-toggle="aside-menu-show"><i class="fas fa-times"></i></a>
                </li>
            </ul>      
        </div>
    </div>

    <div>

    </div>
    <ul class="nav flex-column">
        <!-- Apertura de caja -->
        <li class="nav-item">
            <a class="nav-link" id="apertura-caja-nav" href="#">
                <i class="nav-icon cui-warning"></i> Abrir caja
            </a>
        </li>

        <!-- Cierre de caja -->
        <li class="nav-item">
            <a class="nav-link" id="cierre-caja-nav" href="#">
                <i class="nav-icon cui-x-circle"></i> Cerrar caja
            </a>
        </li>
    </ul>
</aside>
