<header class="app-header navbar">
    <!-- Header content here -->
    <a class="navbar-brand" href="#">
        <img src="https://coreui.io/docs/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler sidebar-toggler" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name
                <img class="img-avatar" src="~/img/tomioka.jpg" alt="admin@bootstrapmaster.com">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                @*<div class="dropdown-header text-center">
            <strong>Account</strong>
        </div>
        <a class="dropdown-item" href="#">
            <i class="fa fa-bell-o"></i> Updates
            <span class="badge badge-info">42</span>
        </a>
        <div class="dropdown-header text-center">
            <strong>Settings</strong>
        </div>
        <a class="dropdown-item" href="#">
            <i class="fa fa-user"></i> Profile
        </a>
        <a class="dropdown-item" href="#">
            <i class="fa fa-wrench"></i> Settings
        </a>*@
                <a class="dropdown-item" asp-action="EditPerfil" asp-controller="Home">
                    <i class="fa fa-user-edit"></i> Perfil
                </a>
                <a class="dropdown-item" asp-action="Logout" asp-controller="Home">
                    <i class="fa fa-lock"></i> Logout
                </a>
            </div>
        </li>
    </ul>
</header>