@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> singInManager

<div class="sidebar">
    <!-- Sidebar content here -->
    <nav class="sidebar-nav">
        <div class="sidebar-nav-container">
            <ul class="nav">
                @if (singInManager.IsSignedIn(User) && User.IsInRole("Administrador"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Admin">
                            <i class="nav-icon cui-chart"></i> Dashboard
                        </a>
                    </li>

                    <!-- Empleado -->
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Empleado" asp-controller="Admin">
                            <i class="nav-icon cui-user"></i> Empleados
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle">
                            <i class="nav-icon cui-industry"></i> Inventario
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Inventario">
                                    Inventario
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="AjusteInventario">
                                    Ajustes de inventario
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Producto -->
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle">
                            <i class="nav-icon cui-dinner"></i> Producto
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Producto">
                                    Productos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Categoria">
                                    Categorias
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Ingrediente">
                                    Ingredientes
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Factura -->
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Factura" asp-controller="Admin">
                            <i class="nav-icon cui-bookmark"></i> Facturas
                        </a>
                    </li>

                    <!-- Mesas -->
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle">
                            <i class="nav-icon cui-rectangle"></i> Mesas
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Zona">
                                    Zona
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Mesa">
                                    Mesa
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Reportes -->
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Reportes" asp-controller="Admin">
                            <i class="nav-icon cui-chart-line"></i> Reportes
                        </a>
                    </li>
                }

                <!-- Ordenes -->
                <li class="nav-item">
                    <a class="nav-link" asp-action="SeleccionMesa" asp-controller="Admin">
                        <i class="nav-icon cui-notes"></i> Ordenes
                    </a>
                </li>

            </ul>
        </div>
        
        <div class="sidebar-nav-container-alt d-none">
            <ul class="nav">
                <!-- Apertura de caja -->
                <li class="nav-item">
                    <a class="nav-link" id="apertura-caja-nav">
                        <i class="nav-icon cui-warning"></i> Abrir caja
                    </a>
                </li>

                <!-- Cierre de caja -->
                <li class="nav-item">
                    <a class="nav-link" id="cierre-caja-nav">
                        <i class="nav-icon cui-x-circle"></i> Cerrar caja
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>