<div class="sidebar">
    <!-- Sidebar content here -->
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Nav Title</li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon cui-speedometer"></i> Dashboard
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>

            <!-- Empleado -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon cui-puzzle"></i> Empleado
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Rol" asp-controller="Admin">
                            Roles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Empleado" asp-controller="Admin">
                            Empleados
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Inventario -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="Inventario">
                    <i class="nav-icon cui-speedometer"></i> Inventario
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>

            <!-- Producto -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon cui-puzzle"></i> Producto
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Producto">
                            Productos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Categoria">
                            Categorias
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Ingrediente">
                            Ingredientes
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Mesas -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon cui-puzzle"></i> Mesas
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Zona">
                            Zona
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Mesa">
                            Mesa
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Ordenes -->
            <li class="nav-item">
                <a class="nav-link" asp-action="SeleccionMesa" asp-controller="Admin">
                    <i class="nav-icon cui-speedometer"></i> Ordenes
                </a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>