@model Monografico.Models.Itbis
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery xsrf

@{
    var modalTitle = "Formulario de ITBIS";
}

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="row">
    <div class="col-md-12">
        <form id="form-crear" method="post" asp-antiforgery="false" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <div class="input-group mb-3">
                    <input asp-for="Valor" type="number" min="0" class="form-control" required />
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">%</span>
                    </div>
                </div>
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            <input type="hidden" id="RequestVerificationToken"
                   name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
        </form>
    </div>
</div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('#myModalLabel').html("@modalTitle");

    var formulario = document.getElementById("form-crear");
    formulario.addEventListener('submit', (e) => {
        e.preventDefault();
        //alert(formulario.checkValidity());
        if (formulario.checkValidity()) {
            var model = {
                "Valor": document.getElementById("Valor").value

            };

            //alert(model.Descripcion + model.Cantidad + model.Precio + model.FechaEntrada + model.EsContabilizable);

            $.ajax({
                method: "POST",
                url: "@Url.Action("Create","Itbis")",
                headers: {
                    "RequestVerificationToken": document.getElementById("RequestVerificationToken").value,
                    "Content-type": "application/json"
                },
                data: JSON.stringify(model),
                error: function () {
                    $('#myModal').modal('hide');
                    toastr.error("Error al guardar");
                },
                success: function () {
                    $('#datatable').DataTable().ajax.reload();
                    $('#myModal').modal('hide');
                    toastr.success("Guardado con exito");
                }
            });
        }
    });
</script>
